name: Build & Push Backend to ECR

on:
    push:
        paths:
            - "backend/**"
            - ".github/workflows/backend-ecr.yml"

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ secrets.AWS_REGION }}

            - name: Login to Amazon ECR
              uses: aws-actions/amazon-ecr-login@v2

            - name: Set ECR image URI
              run: echo "ECR_IMAGE=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.ECR_REPOSITORY }}" >> $GITHUB_ENV

            - name: Build Docker image
              run: docker build -t backend:latest ./backend

            - name: Tag Docker image
              run: docker tag backend:latest $ECR_IMAGE:latest

            - name: Push Docker image to ECR
              run: docker push $ECR_IMAGE:latest
