name: Terraform CD

on:
    workflow_dispatch:
        inputs:
            environment:
                description: "Environment to deploy"
                required: true
                default: "dev"

jobs:
    terraform-apply:
        name: Terraform Apply
        runs-on: self-hosted

        defaults:
            run:
                shell: bash

        steps:
            # 1️⃣ Checkout del repo
            - name: Checkout repository
              uses: actions/checkout@v4

            # 2️⃣ Setup Terraform
            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: 1.6.6

            # 3️⃣ Verificar identidad AWS (seguridad básica)
            - name: Verify AWS identity
              run: aws sts get-caller-identity

            # 4️⃣ Terraform Init
            - name: Terraform Init
              working-directory: envs/${{ inputs.environment }}
              run: terraform init -input=false

            # 5️⃣ Terraform Plan (visual)
            - name: Terraform Plan
              working-directory: envs/${{ inputs.environment }}
              run: terraform plan -input=false

            # 6️⃣ Terraform Apply (AUTOMÁTICO, ya confirmado por workflow_dispatch)
            - name: Terraform Apply
              working-directory: envs/${{ inputs.environment }}
              run: terraform apply -auto-approve
