name: Terraform CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        env: [dev, prod]

    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -input=false
        working-directory: envs/${{ matrix.env }}

      - name: Terraform Format
        run: terraform fmt -check -recursive
        working-directory: envs/${{ matrix.env }}

      - name: Terraform Validate
        run: terraform validate
        working-directory: envs/${{ matrix.env }}

      - name: Terraform Plan
        run: terraform plan -input=false
        working-directory: envs/${{ matrix.env }}
