name: Terraform CI

on:
    push:
        branches:
            - main
            - feature/**
    pull_request:

jobs:
    terraform:
        name: Terraform Validate & Plan
        runs-on: ubuntu-latest

        defaults:
            run:
                shell: bash
                working-directory: envs/dev

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: 1.6.6

            - name: Terraform Init
              run: terraform init -input=false

            - name: Terraform Format Check
              run: terraform fmt -check -recursive

            - name: Terraform Validate
              run: terraform validate

            - name: Terraform Plan
              run: terraform plan -input=false
